<ng-container *ngIf="listaZadan.length > 0; else brakZadan">
  <p [ngStyle]="{color: getColor()}">Zadania do wykonania: {{listaZadan.length}}</p>
  <ul>
    <li *ngFor="let zadanie of listaZadan; let odd = odd"[ngClass]="{'odd-li': odd === true, 'last-li': listaZadan.length===1}">
      {{zadanie}}
      <button type="button" class="btn btn-danger" (click)="usun(zadanie)">Usuń</button>
      <button type="button" class="btn btn-success" (click)="zrobione(zadanie)">Zrobione!</button>
    </li>
  </ul>
</ng-container>
<ng-template #brakZadan>
  <p>Brak zadań do wykonania!</p>
</ng-template>
