<div class="container">
  <app-dodaj-zadanie></app-dodaj-zadanie>
  <ng-container *ngIf="listaZadan.length > 0; else brakZadan">
    <p style="text-align: center" [ngStyle]="{color: getColor()}">Zadania do wykonania: {{listaZadan.length}}</p>
    <ul class="list-group">
      <li class="list-group-item" appDate [date]="zadanie.created" *ngFor="let zadanie of listaZadan | sortName; let odd = odd"
        [ngClass]="{'odd-li': odd === true, 'last-li': listaZadan.length===1}">
        {{zadanie.name | transformZadanie: '!'}}
        <button type="button" class="btn btn-danger" (click)="usun(zadanie)">Usuń</button>
        <button type="button" class="btn btn-success" (click)="zrobione(zadanie)">Zrobione!</button>
      </li>
    </ul>
  </ng-container>
  <ng-template #brakZadan>
    <p style="text-align: center">Brak zadań do wykonania!</p>
  </ng-template>
  <br/>
  <button (click)="save()" type="button" class="btn btn-warning">Zapisz w MongoDB</button>
  <br/>
  <p style="text-align:center">Autor: <b>Marek Nieckula</b>, WSEI nr: <b>9604</b></p>
</div>
