<div>
  <div class="container">
    <div>
      <input [(ngModel)]="noweZadanie">
      <button (click)="dodaj()">Dodaj Zadanie</button>
    </div>
  </div>

  <div class="container">

    <div>
      <ng-container *ngIf="listaZadan.length > 0; else brakZadan">
        <ul>
          <li *ngFor="let zadanie of listaZadan">
            {{zadanie}}
            <button (click)="usun(zadanie)">Usuń</button>
            <button (click)="zrobione(zadanie)">Zrobione!</button>
          </li>
        </ul>
      </ng-container>
      <ng-template #brakZadan>
        <p>Brak zadań do wykonania!</p>
      </ng-template>
    </div>

    <div>
      <p>Wykonane zadania: {{zrobioneZadania.length}}</p>
      <ul>
        <li *ngFor="let zadanie of zrobioneZadania">
          {{zadanie}}
        </li>
      </ul>
    </div>

  </div>
</div>